@import 'tailwindcss';
@import "flowbite/src/themes/default";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';



@layer base {
    [x-cloak] {
        display: none !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Noto Sans Thai", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
}

p {
    @apply font-sans;
}

.heading-font {
    font-family: "Noto Sans Thai", sans-serif;
    font-weight: 700;
    font-style: normal;
}
